
# PiHole needs to know its own address
export SERVERIP=your_RaspberryPi_LAN_IPaddress
# DnsWatch.info private dns
export DNS1=84.200.69.80
export DNS2=84.200.70.40

# Network configuration
export WIFI_IP=example_192.168.0.50
export ETHERNET_IP=example_192.168.0.51
export SUBNET_MASK=24
export GATEWAY=example_192.168.0.1

# Git info
#  (skip, if not using git)
export GIT_AUTHOR_NAME="YOUR_FULL_NAME"
export GIT_AUTHOR_EMAIL="YOUR_GIT_EMAIL"
export GIT_COMMITTER_NAME="${GIT_AUTHOR_NAME}" 		# human name for the “committer” field.
export GIT_COMMITTER_EMAIL="${GIT_AUTHOR_EMAIL}" 	# email address for the “committer” field.
